<h2>Stupid Coaching</h2>

<form action="/answer" data-turbo="false">
  <label for="question">Ask your Coach anything:</label>
  <br>
  <input id="question" type="text" name="question" value="<%= params[:question] %>">
  <input type="submit" value="Ask!">
</form>
